---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<section class="mx-[72px] h-screen" id="home">
			<Header />
			<Hero />
		</section>
	</main>
</Layout>