---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import H1 from '../components/H1.astro';
import AboutCard from '../components/AboutCard.astro';
import Toolbox from '../components/Toolbox.astro';
import HeadingDescription from '../components/HeadingDescription.astro';
import Project from '../components/Project.astro';
import HeroBackground from '../components/HeroBackground.astro';
import ScrollingLogos from '../components/ScrollingLogos.astro';
import SectionContent from '../components/SectionContent.astro';
import Intro from '../components/Intro.astro';
---

<Layout title="Pvngu | Portfolio">
	<Intro />
	<main id="home">
		<div class="sticky h-auto top-0 overflow-hidden">
			<HeroBackground />
			<SectionContent className='h-svh'>
				<Hero />
			</SectionContent>
		</div>
		<div class="bg-black-light w-[97.5%] m-auto rounded-3xl 2xl:px-[73px] xl:px-[60px] md:px-[45px] px-[20px] 2xl:py-[70px] py-[40px] z-10 relative overflow-hidden">
			<section id="about">
				<H1 className='text-white-gray'>About Me</H1>
				<AboutCard />
			</section>
			<section class="h-[600px] relative mt-24" id="toolbox">
				<H1 className='text-white-gray'>My Toolbox</H1>
				<Toolbox />
			</section>
		</div>
		<SectionContent id='projects' className='text-black-gray'>
			<HeadingDescription 
			title='Projects',
			description="Showcase of my “big projects” that I've been working on over the past 3 months using different technologies."
			/>
			<ScrollingLogos />
			<Project />
		</SectionContent>
	</main>
</Layout>