<article class="flex relative items-center h-[450px]">
    <p class="text-white-gray font-inter font-normal text-[32px] leading-10 text-justify w-9/12 z-10">
        I'm Omar Sanchez Lozada, but my friends call me pvngu. My programming journey began in 2021 during quarantine, and I've since been focused on developing a diverse range of web applications to enhance my skills.
    </p>
    <picture class="w-[370px] overflow-hidden h-[490px] absolute bg-white rounded-3xl right-0 translate-y-[-20px]">
        <span class="absolute top-5 right-3 font-inter text-[#ffffff] font-semibold text-[18px] text-right">Tecnologico de Tijuana<br>2021</span>
        <img class="color-black size-full object-cover" src="assets/myself.png" alt="">
    </picture>
</article>