<article class="flex relative items-center h-[450px]">
    <p class="text-white-gray font-inter font-normal 2xl:text-[32px] text-[26px] text-justify w-9/12 z-10 p">
        I'm Omar Sanchez Lozada, but my friends call me pvngu. My programming journey began in 2021 during quarantine, and I've since been focused on developing a diverse range of web applications to enhance my skills.
    </p>
    <picture class="w-[30%] overflow-hidden h-[470px] absolute rounded-3xl right-0 translate-y-[-20px] img">
        <span class="absolute top-5 right-3 font-inter text-[#ffffff] font-semibold text-[18px] text-right leading-6">Tecnologico de Tijuana<br>2021</span>
        <img class="color-black size-full object-cover" src="assets/myself.png" alt="">
    </picture>
</article>

<script>
    import gsap from "gsap";
    import ScrollTrigger from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger)

    gsap.from('.p', {
        scrollTrigger: {
            trigger: '.p',
            start: 'top 85%',
            end: 'top 50%',
            scrub: true,
            markers: false
        },
        opacity: 0.5
    })

    gsap.from('.p', {
        scrollTrigger: {
            trigger: '.p',
            scrub: true,
            markers: false
        },
        translateY: 70
    })

    gsap.from('.img', {
        scrollTrigger: {
            trigger: '.img',
            start: 'top 95%',
            end: 'top 20%',
            scrub: true,
            markers: false
        },
        ease: 'power4-out',
        scale: 0.90,
        opacity: .4
    },)
</script>