<article class="flex relative items-center h-[450px] max-md:flex-col-reverse">
    <p class="text-white-gray font-inter text-justify md:w-9/12 z-10 p">
        I'm Omar Sanchez Lozada, but my friends call me pvngu. My programming journey began in 2021 during quarantine, and I've since been focused on developing a diverse range of web applications to enhance my skills.
    </p>
    <picture id="myself" class="overflow-hidden md:absolute rounded-3xl right-0 md:translate-y-[-20px] max-md:translate-y-[10px]">
        <span class="absolute top-5 right-3 font-inter text-[#ffffff] font-semibold md:text-lg text-xs text-right leading-6">Tecnologico de Tijuana<br>2021</span>
        <img class="color-black size-full object-cover" src="assets/myself.png" alt="">
    </picture>
</article>

<style>
    #myself {
        height: clamp(470px, 32vw, 820px);
        width: clamp(200px, 26vw, 660px);
    }

    p {
        font-size: clamp(20px, 2vw, 50px);
    }
</style>

<script>
    import gsap from "gsap";
    import ScrollTrigger from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger)

    gsap.from('.p', {
        scrollTrigger: {
            trigger: '.p',
            start: 'top 85%',
            end: 'top 50%',
            scrub: true,
            markers: false
        },
        opacity: 0.5
    })

    gsap.fromTo('.p', {
        scrollTrigger: {
            trigger: '.p',
            scrub: true,
            markers: false
        },
        translateY: 30
    }, {
        scrollTrigger: {
            trigger: '.p',
            scrub: true,
            markers: false
        },
        translateY: -20
    })

    gsap.from('#myself', {
        scrollTrigger: {
            trigger: '#myself',
            start: 'top 95%',
            end: 'top 20%',
            scrub: true,
            markers: false
        },
        ease: 'power4-out',
        scale: 0.90,
        opacity: .4
    },)
    
</script>