<footer class="2xl:mx-[72px] lg:mx-[40px] flex flex-col border-t-[1px] border-black-gray pt-6 font-main text-black-gray">
    <div class="flex justify-between">
        <div class="uppercase">
            <span>Pvngu. All right reserved.</span>
        </div>
        <div class="capitalize">
            <ul class="flex gap-x-3">
                <li>
                    <a href="https://discordapp.com/users/553660811361517568">
                        Discord
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/">
                        Linkedin
                    </a>
                </li>
                <li>
                    <a href="https://www.duolingo.com/">
                        Duolingo
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="m-auto">
        <span class="font-semibold whitespace-nowrap">OMAR SANCHEZ</span>
    </div>
</footer>

<style>
    footer div:nth-child(2) span {
        font-size: clamp(20px, 11vw, 200px)
    }
</style>