<footer class="2xl:mx-[72px] lg:mx-[40px] mx-[20px] flex flex-col border-t-[1px] border-black-gray pt-6 font-main mt-8 text-black-gray overflow-hidden">
    <div id="top-items" class="flex justify-between">
        <div class="uppercase">
            <span>©Pvngu. All right reserved.</span>
        </div>
        <div class="capitalize">
            <ul class="flex max-sm:flex-col gap-y-2 gap-x-3">
                <li>
                    <a target="_blank" href="https://discordapp.com/users/553660811361517568">
                        Discord
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://github.com/Pvngu">
                        Github
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.linkedin.com/">
                        Linkedin
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="m-auto">
        <div id="footerName" class="font-semibold whitespace-nowrap">OMAR SANCHEZ</div>
    </div>
</footer>

<style>
    footer div:nth-child(2) div {
        font-size: clamp(20px, 11vw, 290px)
    }

    #top-items {
        font-size: clamp(14px, 1.6vw, 25px);
    }
</style>

<script>
    import gsap from "gsap";
    import ScrollTrigger from "gsap/ScrollTrigger";
    import SplitType from 'split-type'

    gsap.registerPlugin(ScrollTrigger)

    const text = new SplitType('#footerName', { types: 'chars' });

    gsap.from(text.chars, {
        scrollTrigger: {
            trigger: '#footerName',
            start: 'top 94%',
            markers: false
        },
        translateY: 200,
        duration: 2,
        ease: "power4.out"
    })
</script>