---
interface Props {
    className?: string
}

const { className } = Astro.props
---

<h1 class=`uppercase font-bold overflow-hidden font-main ${className} h1`>
    <slot/>
</h1>

<style>
    h1 {
        font-size: clamp(40px, 5.25vw, 140px);
    }
</style>

<script>
    import gsap from "gsap";
    import ScrollTrigger from "gsap/ScrollTrigger";
    import SplitType from 'split-type'

    gsap.registerPlugin(ScrollTrigger)

    const h1 = document.querySelectorAll('.h1');

    h1.forEach(e => {
        const text = new SplitType(e as HTMLElement, { types: 'chars' })
        gsap.from(text.chars, {
        scrollTrigger: {
            trigger: e,
            start: 'top 70%',
            scrub: false,
            markers: false
        },
        translateY: 115,
        ease: 'circ.out',
        stagger: 0.05
    })
    });
</script>