<header class="absolute">
    <nav class="flex gap-x-32 items-center my-[15px]">
        <picture class="size-[50px]">
            <a href="/">
                <img src="assets/Pingu-logo.png" alt="logo">
            </a>
        </picture>
        <div>
            <ul class="flex font-main gap-x-20 text-md xl:text-xl">
                <a href="#home">
                    <li>Home</li>
                </a>
                <a href="#about">
                    <li>About</li>
                </a>
                <a href="#projects">
                    <li>Projects</li>
                </a>
                <a href="#contact">
                    <li>Contact</li>
                </a>
            </ul>
        </div>
    </nav>
</header>