---
import H1 from '../components/H1.astro';

interface Props {
    title: string,
    description: string,
    hClass?: string,
    pClass?: string
}

const {
    title,
    description,
    hClass,
    pClass
} = Astro.props
---

<div>
    <H1 className={hClass}>{title}</H1>
    <p class=`font-main font-light text-xl pt-2 md:w-[48%] text-justify ${pClass}`>{description}</p>
</div>

<style>
    p {
        font-size: clamp(14px, 1.1vw, 27px);
        line-height: m-auto;
    }
</style>