<header class="absolute z-10 w-full">
    <nav class="flex items-center justify-between my-4 border-[1px] rounded-3xl border-black-gray border-opacity-30 px-20 backdrop-blur text-xl">
        <a href="/" class="size-[50px]">
            <img src="assets/logos/Pingu-logo.png" alt="logo">
        </a>
        <a href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#projects">Projects</a>
        <a href="#contact">Contact</a>
    </nav>
</header>

<style>
ul {
    font-size: clamp(18px, 1.8vw, 28px);
}
</style>