---
import Hamburger from '../components/Hamburger.astro';
const currentPath = Astro.url.pathname;
---
<header id="header" class="md:absolute fixed z-50 w-full 2xl:px-[73px] xl:px-[60px] md:px-[45px] px-[20px]">
    <nav class="flex items-center justify-between my-4 rounded-3xl md:border-[1px] border-black-gray border-opacity-20 md:px-20 md:backdrop-blur text-xl max-w-[1720px] mx-auto">
        <a href="/" class="size-[50px]">
            <img src="/../assets/logos/Pingu-logo.png" alt="logo">
        </a>
        <a onclick="lenis.scrollTo('#home')" class="max-md:hidden" href={`${currentPath !== '/' ? '/' : ''}#home`} >Home</a>
        <a onclick="lenis.scrollTo('#about')" class="max-md:hidden" href={`${currentPath !== '/' ? '/' : ''}#about`}>About</a>
        <a onclick="lenis.scrollTo('#projects')" class="max-md:hidden" href={`${currentPath !== '/' ? '/' : ''}#projects`}>Projects</a>
        <a class="max-md:hidden" href="mailto:omar151102@hotmail.com">Contact</a>
        <Hamburger/>
    </nav>
</header>