---
import Pvngu from '../components/Pvngu.astro';
import Clock from '../components/Clock.tsx';
---

<div id="hero" class="grid place-content-center h-full relative translate-y-7">
    <div class="rotate-[-5deg]">
        <Pvngu />
        <div class="font-hero hero-title">
            <h2 class="leading-[100%]">&lt;h2&gt;I'm Omar Sanchez&lt;/h2&gt;</h2>
            <p class="leading-[100%]">&lt;p&gt;Fullstack developer & web designer based in mexico&lt;/p&gt;</p>
        </div>
    </div>
    <Clock client:load />
</div>

<style>
    .hero-title {
        float: right;
        width: clamp(200px, 54vw, 950px);
        color: #292929;
        opacity: 85%;
    }

    .hero-title h2 {
        font-size: clamp(20px, 4.7vw, 80px);
    }

    .hero-title p {
        font-size: clamp(12px, 2.5vw, 36px);
        width: 74%;
        transform: translateX(15px);
    }
</style>

<script>
    import gsap from "gsap";
    import ScrollTrigger from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger)

    gsap.to('#hero', {
        scrollTrigger: {
            trigger: '#about',
            start: 'top 95%',
            end: 'top',
            scrub: true,
            markers: false
        },
        opacity: 0,
        translateY: -80
    }) 
</script>