<div id="heroBackground" class="absolute grid rotate-[-5deg] opacity-30 whitespace-nowrap overflow-hidden place-content-center size-full -z-10 font-hero text-[#bdbdbd]">
    <div class="scrolling">
        <div>Example text Example text Example text Example text Example text Example text</div>
        <div>Example text Example text Example text Example text Example text Example text</div>
        <div>Example text Example text Example text Example text Example text Example text</div>
    </div>
    <div class="scrolling">
        <div>Example text Example text Example text Example text Example text Example text</div>
        <div>Example text Example text Example text Example text Example text Example text</div>
        <div>Example text Example text Example text Example text Example text Example text</div>
    </div>
    <div class="scrolling">
        <div>Example text Example text Example text Example text Example text Example text</div>
        <div>Example text Example text Example text Example text Example text Example text</div>
        <div>Example text Example text Example text Example text Example text Example text</div>
    </div>
    <div class="scrolling">
        <div>Example text Example text Example text Example text Example text Example text</div>
        <div>Example text Example text Example text Example text Example text Example text</div>
        <div>Example text Example text Example text Example text Example text Example text</div>
    </div>
    <div class="scrolling">
        <div>Example text Example text Example text Example text Example text Example text</div>
        <div>Example text Example text Example text Example text Example text Example text</div>
        <div>Example text Example text Example text Example text Example text Example text</div>
    </div>
    <div class="scrolling">
        <div>Example text Example text Example text Example text Example text Example text</div>
        <div>Example text Example text Example text Example text Example text Example text</div>
        <div>Example text Example text Example text Example text Example text Example text</div>
    </div>
</div>

<style>

    #heroBackground div:nth-child(1) {
        font-size: clamp(10px, 10vw, 100px);
    }
        
    #heroBackground div:nth-child(2) {
        font-size: clamp(10px, 10vw, 100px);
    }
       
    
    .scrolling {
        display: flex;
        column-gap: 20px;
    }

    .scrolling div {
        animation: LR 30s linear infinite;
    }

    @keyframes LR {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(-100%);
        }
    }
</style>

<script>
    import gsap from "gsap";
    import ScrollTrigger from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger)

    gsap.to('#heroBackground', {
        scrollTrigger: {
            trigger: '#about',
            scrub: true,
            end: 'top 40%',
            markers: false,
        },
        opacity: 0
    })
</script>