<div class="absolute grid whitespace-nowrap overflow-hidden place-content-center size-full opacity-30 -z-10 font-hero text-[80px] text-[#bdbdbd]">
    <div>a passionate coder and designer with</div>
    <div>a passionate coder and designer with</div>
    <div>a passionate coder and designer with</div>
    <div>a passionate coder and designer with</div>
    <div>a passionate coder and designer with</div>
</div>