---
import Pvngu from '../components/Pvngu.astro';
---

<div class="grid place-content-center h-full">
    <div class="rotate-[-5deg] heading">
        <Pvngu />
        <div class="font-hero hero-title mt-[-25px] md:mt-[-10px] 2xl:mt-[25px]">
            <h2 class="max-md:leading-[30px] md:leading-[40px] xl:leading-[50px]">&lt;h2&gt;I'm Omar Sanchez&lt;/h2&gt;</h2>
            <p class="leading-[13px] md:leading-[20px] lg:leading-[28px] 2xl:leading-[40px]">&lt;p&gt;Fullstack developer & web designer based in mexico&lt;/p&gt;</p>
        </div>
    </div>
</div>

<style>
    .hero-title {
        float: right;
        width: clamp(200px, 54vw, 950px);
        color: #292929;
        opacity: 85%;
    }

    .hero-title h2 {
        font-size: clamp(20px, 4.7vw, 80px);
    }

    .hero-title p {
        font-size: clamp(12px, 2.5vw, 36px);
        width: 74%;
        transform: translateX(15px);
    }
</style>