---

---

<div class="absolute -z-10 font-hero text-[80px] whitespace-nowrap top-0 text-[#bdbdbd] opacity-30">
    <div>a passionate coder and designer with</div>
    <div>a passionate coder and designer with</div>
    <div>a passionate coder and designer with</div>
    <div>a passionate coder and designer with</div>
    <div>a passionate coder and designer with</div>
</div>