<div class="w-full flex justify-center max-md:hidden">
    <header id="navbar" class="bottom-0 fixed z-50 translate-y-0">
        <nav class="flex items-center justify-between my-4 rounded-2xl md:border-[1px] border-black-gray border-opacity-20 gap-x-8 md:py-1 xl:py-2 md:px-6 xl:px-10 md:backdrop-blur md:text-md xl:text-xl text-cream-white bg-black/30">
            <a href="/" class="size-[50px] hover:scale-105 transition-all">
                <img src="/../assets/logos/Pingu-logo.png" alt="logo">
            </a>
            <a class="max-md:hidden opacity-80 hover:opacity-100" href="/#home">Home</a>
            <a class="max-md:hidden opacity-80 hover:opacity-100" href="/#about">About</a>
            <a class="max-md:hidden opacity-80 hover:opacity-100" href="/#projects">Projects</a>
            <a class="max-md:hidden opacity-80 hover:opacity-100" href="/#contact">Contact</a>
        </nav>
    </header>
</div>

<script>
    import gsap from "gsap";
    import ScrollTrigger from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger)

    gsap.from('#navbar', {
        scrollTrigger: {
            trigger: '#about',
            start: 'top 90%',
            end: 'top 70%',
            markers: false,
            scrub: true
        },
        y: '100%',
        ease: 'power4.out'
    })
</script>