---
interface Props {
    img?: string,
    title: string
}

const {
    img,
    title
} = Astro.props
---
<article class="flex flex-col w-full relative">
    <picture class="bg-red-500 rounded-3xl w-full h-[400px] overflow-hidden">
        <img class="color-fd object-cover size-full" src={img} alt=`image of ${title}`>
    </picture>
    <div>
        <div class="font-inter font-light text-2xl py-3">{title}</div>
    </div>
</article>
