---
interface Props {
    img?: string,
    title: string
}

const {
    img,
    title
} = Astro.props
---
<article class="flex flex-col w-full relative">
    <picture class="rounded-3xl w-full h-auto overflow-hidden projectImg">
        <img class="object-cover size-full hover:scale-105 transition-all" src={img} alt=`image of ${title}`>
    </picture>
    <div>
        <a href="/project">
            <div id="projectBottom" class="font-inter font-light text-2xl md:pt-2">{title}</div>
        </a>
    </div>
</article>

<style>
    picture {
        height: clamp(300px, 31vw, 700px);
    }

    #projectBottom {
        font-size: clamp(20px, 1.4vw, 40px);
    }
</style>

<script>
    import gsap from "gsap";
    import ScrollTrigger from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger)

    const img = document.querySelectorAll('.projectImg')

    img.forEach(e => {
        gsap.from(e, {
        scrollTrigger: {
            trigger: e,
            start: 'top 95%',
            end: 'top 20%',
            scrub: true,
            markers: false
        },
        ease: 'power4-out',
        scale: 0.95,
        opacity: .95
    })
    })
</script>