<div class="flex overflow-hidden" >
    <svg xmlns="http://www.w3.org/2000/svg">
        <text x="50%" y="60%" dominant-baseline="middle" text-anchor="middle" stroke="#222222" stroke-width="4" fill="#222222">P</text>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg">
        <text x="50%" y="60%" dominant-baseline="middle" text-anchor="middle" font-size="290" stroke="#222222" stroke-width="4" fill="#222222">V</text>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg">
        <text x="50%" y="60%" dominant-baseline="middle" text-anchor="middle" font-size="290" stroke="#222222" stroke-width="4" fill="#222222">N</text>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg">
        <text x="50%" y="60%" dominant-baseline="middle" text-anchor="middle" font-size="290" stroke="#222222" stroke-width="4" fill="#222222">G</text>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg">
        <text x="50%" y="60%" dominant-baseline="middle" text-anchor="middle" font-size="290" stroke="#222222" stroke-width="4" fill="#222222">U</text>
    </svg>
</div>

<style>
    svg {
        width: clamp(50px, 17vw, 280px);
        height: clamp(80px, 22vw, 300px);
        transform: scale(0.96, 0.93);
        transition: width 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000), height 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000);
    }
    svg text {
        font-family: Timmana, sans-serif;
        font-size: clamp(100px, 25vw, 400px);
        transition: font-size 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000);
    }
</style>

<script>
    import gsap from "gsap";
    import ScrollTrigger from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger)

    gsap.from('.flex svg', {
        translateY: 100,
        opacity: 0,
        stagger: 0.16,
        ease: 'back.out'
    })
</script>