---
import Angular from '../icons/Angular.astro';
import Laravel from '../icons/Laravel.astro';
import AstroSvg from '../icons/AstroB.astro';
---
<div class="text-3xl absolute top-0 right-0 w-[40%] translate-y-4 lg:h-[15%] h-[8%] overflow-hidden whitespace-nowrap max-md:hidden">
    <div id="logos" class="flex gap-x-4 w-max size-full">
        <div>
            <Angular />
        </div>
        <div>
            <Laravel />
        </div>
        <div>
            <AstroSvg />
        </div>
        <div>
            <Angular />
        </div>
        <div >
            <Laravel />
        </div>
        <div>
            <AstroSvg />
        </div>
        <div>
            <Angular />
        </div>
        <div >
            <Laravel />
        </div>
        <div>
            <AstroSvg />
        </div>
        <div>
            <Angular />
        </div>
        <div >
            <Laravel />
        </div>
        <div>
            <AstroSvg />
        </div>
    </div>
</div>

<style>
    #logos div {
        height: 100%;
        width: 33%;
    }

    svg{
    }

    #logos {
        animation: LR 24s infinite linear;
    }

    @keyframes LR {
        to {
            transform: translate(calc(-50% - 0.5rem));
        }
    }
</style>