<div class="text-3xl absolute top-0 right-0 w-[40%] lg:h-[15%] h-[8%] overflow-hidden whitespace-nowrap max-md:hidden" aria-hidden="true">
    <div id="logos" class="flex gap-x-4 w-max size-full">
        <div>
            <img style="height: 100%; width: 100%;" src="/assets/logos/angular.svg">
        </div>
        <div>
            <img style="height: 100%; width: 100%;" src="/assets/logos/laravel.svg">
        </div>
        <div>
            <img style="height: 100%; width: 100%;" src="/assets/logos/astroB.svg">
        </div>
        <div>
            <img style="height: 100%; width: 100%;" src="/assets/logos/angular.svg">
        </div>
        <div>
            <img style="height: 100%; width: 100%;" src="/assets/logos/laravel.svg">
        </div>
        <div>
            <img style="height: 100%; width: 100%;" src="/assets/logos/astroB.svg">
        </div>
        <div>
            <img style="height: 100%; width: 100%;" src="/assets/logos/angular.svg">
        </div>
        <div>
            <img style="height: 100%; width: 100%;" src="/assets/logos/laravel.svg">
        </div>
        <div>
            <img style="height: 100%; width: 100%;" src="/assets/logos/astroB.svg">
        </div>
        <div>
            <img style="height: 100%; width: 100%;" src="/assets/logos/angular.svg">
        </div>
        <div>
            <img style="height: 100%; width: 100%;" src="/assets/logos/laravel.svg">
        </div>
        <div>
            <img style="height: 100%; width: 100%;" src="/assets/logos/astroB.svg">
        </div>
    </div>
</div>

<style>
    #logos div {
        height: 100%;
        width: 33%;
    }

    svg{
    }

    #logos {
        animation: LR 26s infinite linear;
    }

    @keyframes LR {
        to {
            transform: translate(calc(-50% - 0.5rem));
        }
    }
</style>