---
import Angular from '../icons/Angular.astro';
import Laravel from '../icons/Laravel.astro';
import AstroSvg from '../icons/Astro.astro';
---
<div class="text-3xl absolute top-0 right-0 w-[40%] translate-y-4 lg:h-[12%] h-[8%] overflow-hidden whitespace-nowrap max-md:hidden">
    <div id="logos" class="flex gap-x-2 w-[900px] size-full">
        <div>
            <Angular />
        </div>
        <div>
            <Laravel />
        </div>
        <div>
            <AstroSvg />
        </div>
        <div>
            <Angular />
        </div>
        <div>
            <Laravel />
        </div>
        <div>
            <AstroSvg />
        </div>
        <div>
            <Angular />
        </div>
        <div>
            <Laravel />
        </div>
        <div>
            <AstroSvg />
        </div>
    </div>
</div>

<style>
    #logos div {
        height: 100%;
        width: 33%;
    }

    svg{
    }

    #logos {
        animation: LR 4s infinite linear;
    }

    @keyframes LR {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-33.9%);
        }
    }
</style>