---
interface Props{
    className?: string,
    id?: string
}

const {
    className,
    id
} = Astro.props
---

<section id={id} class=`2xl:mx-[4.5rem] lg:mx-10 mx-5 relative ${className}`>
    <slot />
</section>