---
import Footer from '../components/Footer.astro';
import NavbarMobile from '../components/NavbarMobile.astro';
import Navbar from '../components/Navbar.astro';
import Header from '../components/Header.astro';
import Intro from '../components/Intro.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Omar Sanchez is a 21 years old fullstack web developer and designer based in Mexico" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="/favicon.ico" />
		<meta property="og:image" content="/assets/OGImage.png">
		<meta name="generator" content={Astro.generator} />
		<!-- fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Timmana&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
		
		<title>{title}</title>
	</head>
	<body class="bg-cream-white">
		<Intro />
		<NavbarMobile/>
		<Navbar/>
		<Header />
		<slot />
		<Footer />
	</body>
</html>

<script>
	import Lenis from '@studio-freight/lenis'
	
	const lenis = new Lenis()

	function raf(time: any) {
		lenis.raf(time)
		requestAnimationFrame(raf)
	}
	requestAnimationFrame(raf)
</script>

<style is:global>
	@tailwind base;
	@tailwind components;
	@tailwind utilities;
</style>